/* ESTILOS GENERALES*/ 
* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}


.flex {

    display: flex;


}

.btn {
    width: 134px;
    height: 44px;
    text-decoration: none;
    border-radius: 50px;
    background-color: #8B48BF;
    color: #FFFFFF;
    border: none;

    

}

.btn:hover {
    background-color: rgba(139, 72, 191, 0.7);
}

.fa-bars {
    position: absolute;
    visibility: hidden;
}




/*ESTILOS HEADER*/


/*SECCIÓN 1 DE HEADER*/
header {

justify-content: space-around;
padding: 50px;

}

nav a {

    font-weight: bold;
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 13px;

}

nav a:hover {

    color: rgb(36, 46, 83,0.6)
}

/*SECCIÓN 2 DE HEADER*/

.container-hero  {

    width:80vw;
    margin: 95px 10vw;
    justify-content: space-between;

    
}

/*Hero Section TEXT Styles    */

.hero-img {
    width: 50%;
    
    
}

.hero-text {

    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 40%;

}

.hero-text h1 {

    font-size: 50px;
    line-height: 57px;
    text-align: right;
    color: #232C50;

}
.hero-text p {

    font-size: 16px;
    /*line-height: 57px;*/
    text-align: right;
    font-weight: 500;

}


/*ESTILOS DEL MAIN*/
/*ESTILOS BANNER 1*/
.banner1 {

    background-color: #8B48BF;
    color: #FFFFFF;
    padding: 30px;
    justify-content: space-around;

}

.banner1  h2 {

    font-weight: bold;
    font-size: 36px;
    width: 450px;
    justify-content: center;
    align-self: center;
    position: relative;
    right: 250px;

}

.banner1 p {

    width: 400px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: absolute;
    right: 250px;
    
}

.mobile-text {

    visibility: hidden;
}





/*CONTAINER CARDS */
.container-card {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 428px;
    background-color: #FAFAFA;
    padding: 20px 20px 20px 20px;
    

}

.card {

   justify-content: center;
   padding: 50px;
   width: 50%;
   height: 200px;
   
    

}

.mbtn {

    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: #8B48BF;
    border: none;
    font-style: none;
    border-radius: 20px;
    padding: 18px;
    height: 1vw;
}

.content-card {

    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    padding: 10px;
    margin: 45px;
    height: 5px;
    
}

.content-card p {
    color: #b3b2B7 ;
}

/*SECCIÓN HIGHLIGHTS*/
.container-highlight {
    
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: 100px;

    
}

.container-highlight button a {
    color: #FFFFFF;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0;
    font-size: 39.21px;
    color: #242E53;
}


.card-highlight {
  width:440px;
  height: 220px;
  position: relative;
  text-align: center;
  background-color: #FAFAFA;
  margin-bottom: 100px;

 
  
}

.img-highlight {
    
 position:absolute;
 top: -40px;
 left: 190px;
 margin-bottom: 150px;

}

.title-highlight {
    margin-top: 60px;
    font-size: 16.07px;
    color: #3F4868;

}

.text-highlight {
    position:relative;
    text-align: center;
    padding: 25px 50px;

}

/* 2do Banner */

.banner2 {

    background-color: #8B48BF;
    color: #FFFFFF;
    padding: 30px;
    justify-content: space-around;
    align-items: center;

}

.banner2  h2 {

    font-weight: bold;
    font-size: 36px;
    width: 450px;
    justify-content: center;
    align-self: center;

}

.banner2 button {

    width: 134px;
    height: 44px;
    border-radius: 50px;
    border:none;
    
}

/*ESTILOS DE FOOTER */

footer {

    justify-content: space-around;
   background-color: #1E1E26;
    height: 247px;

}

.container-logos {

    margin-top: 20px;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.redes-logos {

    justify-content: space-around;
    margin-bottom: 30px;
    width: 200px;

}

.logo {
    color: #FFFFFF;
    width: 107.68px;
    height: 25px;
}

/*COLUMNAS LINKS */ 
.links-container {

    width: 20%;    
    color: #FFFFFFFF;


}

.column {
    flex-direction: column;
    align-items: center;
    padding-right: 300px;
    padding-top: 35px;
    width: 70%;
    
    
   
}

.column a {
    color: #FFFFFF;
    padding: 10px;
    box-sizing: border-box;
    width: 180px;

}
/* FORMULARIO */ 

.form-container {

    flex-direction: column;
    justify-content:space-between;
}

.form-container form {
    margin-top: 80px;
    

}
.form-input {
    padding: 7px;
    border-radius: 15px;
}
.form-label {
    
    padding: 6px 12px;
    background-color: #8B48BF;
    border-radius: 15px;
   
   
}

.form-label a {
    color: #FFFFFF;
    height: 52px;
    width: 63px;
}




.form-container h4 {
    color: #8C8C94;
    font-size: 12.5px;
    margin-bottom: 40px;
}

@media screen and (max-width: 480px) {

 /*HEADER MOBILE */
    .mobile-hidden{

        display: none;
        visibility: hidden;
        

    }
    
    header img {
        position: relative;
        right: 50px;
    }

    .fa-bars {
        visibility: visible;
        color: #000000;
        position: relative;
        left: 60px;
        top: 12px;
        
    }
/*ZONA HERO MOBILE */


    .container-hero{
        flex-direction: column;
        

    }
    .hero-img {
        width: 400px;
        padding: 0px;
        margin-top: -60px;
        margin-bottom: 60px;
    }

    .hero-text {
        
        width: 400px;
        
        
    }
    .hero-text h1,p,button {
        padding: 2px;
        margin-bottom: 15px;
        
    }
/* BANNER 1 MOBILE */ 

    .banner1 {

        margin-top: -70px;
        flex-direction: column;
        background-color:#3CDDF3 ;
        height: 300px ;


    }

    .banner1 h2 {
        position: absolute;
        left: 30px;
        margin-top: -90px;
        width: 400px;

    }

    .mobile-text {
        font-size: 16px;
        visibility: visible;
        position: absolute;
        left: 30px;
        margin-top: 120px;
        
    }

    /*SECCIÓN CARTAS MOBILE*/
    
    .container-card {

        
        margin-top: 20px;
        width: fit-content;
        height: min-content;
        position: relative;
        background-color: #FFFFFFFF ;
        justify-content: center;
        align-items: center;
              
        

    }

    .card {

        padding: 0px;
        margin: 0px;
        width: 100%;
        position: relative;


    }

    .mbtn {

        position: relative;
        right: 20px;
        


    }

    .content-card {

        width: 330px;
        padding: 0px;
        position: absolute;
        left: 30px ;
        top: 30px;
        
        
    }

    .content-card h3 {
        
        width: 400px;
        padding: 6px 3px 6px 20px ;
        background-color: rgba(139, 72, 191, 0.3);
        
    
    }

    .content-card p {
        padding-top: 3px;
        width: 370px;
        position: relative;
        right: 37px;
        top: 5px;
        
        
    }

    /* Hightlights MOBILE*/

    .container-highlight {
        
        margin-top: -40px;
        width: 480px;
        padding: 0px 17px 0px 17px;
        
    }

    .card-highlight {
        padding: 0px;
        margin: 0px;
        margin: 0px 60px 0px 40px;
        margin-bottom: 50px;
    }

    /*BANNER 2 Mobile */

    .banner2 {
        flex-direction: column;
        background-color: #3CDDF3;
        height: 366px;
        margin-top: -30px;
    }

    .banner2 h2 {
        
       
        margin-top: -30px;
        width: 65%;
        text-align: center;

    }

    .banner2 button {

        background-color: #232C50;

    }

    .banner2 button a {
        color: #FFFFFF;
        
    }

    /*FOOTER MOBILE*/

    footer {
        height: 540px;

    }

    .form-container {

        position: relative;
        right: 60px;
        top: -30px;


    }

    .form-input {
        width: 280px;

    }

    .links-container {
        
        align-items: center;    
        position: relative;
        margin: 0px;
        padding: 0px;
        

    }

    .column {
        position: relative;
        top: -320px;
        margin: 500px 50px 0px 100px;
        padding: 0px;

    }

    .container-logos {
        margin: 0px;
        padding: 0px;
        justify-content: flex-end;
        position: absolute;

    }

    .redes-logos {

        position: relative;
        top: 300px;
        width: 400px;
       
    }

    .logo {

        position: relative;
        top: 400px;
        left: 140px;
       
        
    }

    .form-container h4 {

        position: relative;
        right: -55px;

    }


    }

    






